@media only screen and (min-width: 992px)
{
/* Pc */
.App-header {
  z-index: 99;
  position: fixed;
}

.scroll-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./Data/Backgrounds/Clouds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: calc(100vh * 4);
}

.main-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 80vw;
  background-image: url(./Data/Backgrounds/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 200px 10px black;
}

.dark-waves {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh * 4);
  width: 100vw;
  background-image: url(./Data/Backgrounds/olas-deco.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blured-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh * 4);
  width: 100vw;
}
}

@media only screen and (max-width: 992px){
  /* Mobile */
  .App-header {
    z-index: 99;
    position: fixed;
  }
  
  .scroll-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #24447C;
    height: calc(100vh * 4);
  }
  
  .main-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 12vh;
    height: 70vh;
    width: 100vw;
    background-image: url(./Data/Backgrounds/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 200px 10px black;
  }
  
  .dark-waves {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh * 4);
    width: 100vw;
    background-image: url(./Data/Backgrounds/olas-deco.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .blured-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh * 4);
    width: 100vw;
  }
  
  .blur {
    backdrop-filter: blur(10px);
  }
}

@keyframes slowly-blur {
  100% {
    backdrop-filter: blur(10px);
  }
}
@keyframes slowly-blur-off {
  0% {
    backdrop-filter: blur(10px);
  }
  100% {
    backdrop-filter: blur(0px);
  }
}