@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: 'chinchan'; 
    src: url(./chinchan-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'khiara'; 
    src: url(./_2020_nugs_project_khiara_script-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hiromisake'; 
    src: url(./hiromisake-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beway'; 
    src: url(./beway-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beway-light'; 
    src: url(./bewaylight-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bitalo'; 
    src: url(./bitalo-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'visually'; 
    src: url(./visually-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}