@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: 'chinchan'; 
    src: url(./chinchan-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hiromisake'; 
    src: url(./hiromisake-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}