@media only screen and (min-width: 992px)
{
/* Pc */
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Lato";
  color: white;
}
}

@media only screen and (max-width: 992px){
  /* Mobile */
  .portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80vw;
    font-family: "Lato";
    color: white;

    text-align: center;
  }
}

