.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  z-index: 99;
  position: fixed;
  width: 100vw;
}

.profile-page-0 {
  background-color: #E3B464;
  background-image: url(./LandingPage/Data/Backgrounds/image-from-rawpixel-id-931567-jpeg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: inset 0px 0px 100px 20px #E8EAED;
  min-height: 100vh;
}

.description-page-1 {
  background-color: #E3B464;
  background-image: url(./LandingPage/Data/Backgrounds/image-from-rawpixel-id-931567-jpeg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: inset 0px 0px 100px 20px #E8EAED;
  min-height: 100vh;
}

.proyects-page-2 {
  background-color: #E3B464;
  background-image: url(./LandingPage/Data/Backgrounds/image-from-rawpixel-id-931567-jpeg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: inset 0px 0px 100px 20px #E8EAED;
  min-height: 100vh;
}

.information-page-3 {
  background-color: #E3B464;
  background-image: url(./LandingPage/Data/Backgrounds/image-from-rawpixel-id-931567-jpeg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: inset 0px 0px 100px 20px #E8EAED;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
