.App {
  text-align: center;
}

.App-header {
  z-index: 99;
  position: fixed;
  width: 100vw;
}

.profile-page-0{
  background-color: #f1d5bb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(56, 111, 173);
}

.description-page-1 {
  background-color: #f1d5bb;
}

.proyects-page-2 {
  background-color: #f1d5bb;
}

.information-page-3 {
  background-color: #f1d5bb;
}

.App-link {
  color: #61dafb;
}
